<template>

    <app-layout>

        <template #header>

            <h2 class="font-semibold text-xl text-gray-800 leading-tight">

                Report

            </h2>

        </template>


        <div class="py-12">

            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">

                <div class="flex flex-row bg-white overflow-hidden shadow-xl sm:rounded-lg px-4 py-4">

                    <div class="mt-4 pr-4">
                        <label for="format_id" class="sr-only">Format</label>
                        <select id="format_id"
                                v-model="form.format_id"
                                class="mt-1 block pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                            <option v-for="format in settings.format" v-bind:value="String(format.id)">
                                {{ format.name }}
                            </option>
                        </select>
                    </div>

                    <div class="mt-4 px-4">
                        <label for="output_id" class="sr-only">Output</label>
                        <select id="output_id"
                                v-model="form.output_id"
                                class="mt-1 block pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                            <option v-for="output in settings.output" v-bind:value="String(output.id)">
                                {{ output.name }}
                            </option>
                        </select>
                    </div>

                    <div class="mt-4 px-4">
                        <label for="band_id" class="sr-only">Output</label>
                        <select id="band_id"
                                v-model="form.band_id"
                                class="mt-1 block pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                            <option v-for="output in settings.bands" v-bind:value="String(output.id)">
                                {{ output.name }}
                            </option>
                        </select>
                    </div>

                    <div class="mt-4 px-4">
                        <button
                            type="button"
                            class="inline-flex items-center px-2.5 py-2 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                            @click="get"
                        >
                            Report
                        </button>
                    </div>

                </div>

            </div>

        </div>

        <div>

            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">

                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg px-4 py-4">


                    <pre>{{ data }}</pre>


                </div>

            </div>

        </div>

    </app-layout>

</template>

<script>

    import AppLayout from '@/Layouts/AppLayout'

    export default {

        components: {
            AppLayout,
        },

        props: ['data', 'settings', 'format_id', 'output_id', 'band_id' ],

        data() {
            return {
                form: this.$inertia.form({
                    format_id: this.format_id,
                    output_id: this.output_id,
                    band_id: this.band_id,
                })
            }
        },

        methods: {
            get: function () {
                this.form.get( route('reports.index'), this.form, {
                    onSuccess: () => {
                    }
                })
            }
        }

    }

</script>
