<template>

    <app-layout>

        <template #header>

            <h2 class="font-semibold text-xl text-gray-800 leading-tight">

                Manage QSO Contest

            </h2>

        </template>

        <template #clock>
            <GetFreq @new_freq="new_freq" :api_urls="this.$page.props.settings.rig_apis" v-if="rig_used" />
            <Clock :contest_settings="settings.contest_settings" :server_time="new_rec.time" @new_tour="new_tour"/>
        </template>

        <div class="py-12">

            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">

                <div class="min-w-full bg-white overflow-hidden shadow-xl sm:rounded-lg px-4 py-4">

                    <div class="mb-4">
                        <form>

                            <div class="inline-block w-16 px-2">
                                <div
                                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
                                    <label for="tour_input"
                                           class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">Tour</label>
                                    <input :disabled="!editMode" v-model="form.contest.tour" type="text" id="tour_input"
                                           class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                                           placeholder=""/>
                                </div>
                            </div>

                            <div class="inline-block w-36 px-2">
                                <select id="location" v-model="form.band_id" @change="change_band($event)"
                                        class="relative mt-1 block pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                    <option v-for="band in bands" v-bind:value="String(band.id)">
                                        {{ band.title }}
                                    </option>
                                </select>
                            </div>

                            <div class="inline-block w-36 px-2">
                                <select id="location" v-model="form.mode_id"
                                        class="relative mt-1 block pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                    <option v-for="mode in modes" v-bind:value="String(mode.id)">
                                        {{ mode.title }}
                                    </option>
                                </select>
                            </div>

                            <div class="inline-block w-32 px-2" v-if="rig_used">
                                <div
                                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
                                    <label for="freq_input"
                                           class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">Freq</label>
                                    <input :disabled="!editMode" v-model="form.contest.data.freq" type="text"
                                           id="freq_input"
                                           class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                                           placeholder=""/>
                                </div>
                            </div>

                            <div class="inline-block w-32 px-2">
                                <div
                                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
                                    <label for="my_exchange_input"
                                           class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">MyExchande</label>
                                    <input :disabled="!editMode" type="text" v-model="form.contest.my_exchange"
                                           id="my_exchange_input"
                                           class="block w-full sm:text-sm lg:text-xl border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0"
                                           placeholder=""/>
                                </div>
                            </div>

                            <call-input
                                v-model="form.rec_call"
                                @keyup.enter="calcNext('callsign')"
                                @focusout="setLocator( callsigns )"
                                :calls="callsigns"
                                :band_id="form.band_id"
                                :tour="form.contest.tour"
                                :error_message="errors.rec_call"
                                ref="callsign"
                            />

                            <div class="inline-block w-32 px-2">
                                <div
                                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
                                    <label for="rec_exchange_input"
                                           class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">RecvExchange</label>
                                    <input type="text" v-model.trim="form.contest.rec_exchange"
                                           id="rec_exchange_input"
                                           class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                                           ref="exchange"
                                           placeholder=""
                                           @keyup.enter="calcNext('exchange')"
                                    />

                                </div>
                            </div>

                            <div class="inline-block w-32 px-2" v-if="locator">
                                <div
                                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
                                    <label for="rec_qth_input"
                                           class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">RecvQTH</label>
                                    <input type="text" v-model.trim="form.rec_qth"
                                           id="rec_qth_input"
                                           class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                                           ref="qth"
                                           placeholder=""
                                           @keyup.enter="calcNext('qth')"
                                    />

                                </div>
                            </div>

                            <div class="inline-block w-32 px-2" v-show="editMode" >
                                <div
                                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
                                    <label for="time_input"
                                           class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">Time</label>
                                    <input type="text" v-model="form.time" id="time_input"
                                           class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                                           placeholder=""/>
                                    <jet-input-error :message="errors.time" class="mt-2"/>
                                </div>
                            </div>

                            <div class="inline-block px-2">
                                <button type="button"
                                        class="inline-block justify-center w-24 rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5"
                                        v-show="!editMode"
                                        ref="save"
                                        @click="store()">
                                    Save
                                </button>
                                <button type="button"
                                        class="inline-block justify-center w-24 rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5"
                                        v-show="editMode" @click="store()">
                                    Update
                                </button>
                                <button type="button"
                                        class="inline-block justify-center w-24 rounded-md border border-transparent px-4 py-2 bg-gray-500 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5"
                                        v-show="editMode" @click="cancel()">
                                    Cancel
                                </button>
                            </div>

                        </form>
                    </div>


                    <errors-and-messages/>

                    <!--div class="bg-white shadow-xl sm:rounded-lg px-4 py-4"-->

                    <table class="table-fixed w-full">

                        <thead>

                        <tr class="bg-gray-100">

                            <th class="px-4 py-2 w-20">ID</th>

                            <th class="px-4 py-2 w-20">Tr</th>

                            <th class="px-4 py-2 w-20">Band</th>

                            <th class="px-4 py-2 w-20">Mode</th>

                            <th class="px-4 py-2 w-20" v-if="rig_used">Freq</th>

                            <th class="px-4 py-2 w-20">Time</th>

                            <th class="px-4 py-2">Call</th>

                            <th class="px-4 py-2">RecExch</th>

                            <th class="px-4 py-2" v-if="locator">RecQTH</th>

                            <th class="px-4 py-2">MyExch</th>

                            <th class="px-4 py-2">Action</th>

                        </tr>

                        </thead>

                        <tbody>

                        <tr v-for="row in log">

                            <th class="px-4 py-2 w-20">{{ row.id }}</th>

                            <th class="px-4 py-2 w-20">{{ row.contest.tour }}</th>

                            <th class="px-4 py-2 w-20">{{ row.band_id }}</th>

                            <th class="px-4 py-2 w-20">{{ row.mode_id }}</th>

                            <th class="px-4 py-2 w-20" v-if="rig_used">{{ row.contest.data.freq }}</th>

                            <th class="px-4 py-2 w-20"><span v-html=" '<nobr>' + formatTime(row.time) + '</nobr>' "></span></th>

                            <th class="px-4 py-2">{{ row.rec_call }}</th>

                            <th class="px-4 py-2">{{ row.contest.rec_exchange }}</th>

                            <th class="px-4 py-2" v-if="locator">{{ row.rec_qth }}</th>

                            <th class="px-4 py-2">{{ row.contest.my_exchange }}</th>

                            <td class="border px-4 py-2">

                                <button @click="edit(row)"
                                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                    Edit
                                </button>

                                <button @click="deleteRow(row)"
                                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                                    Delete
                                </button>

                            </td>

                        </tr>

                        </tbody>

                    </table>


                    <!--/div-->

                </div>

            </div>

        </div>

    </app-layout>

</template>

<script>

import AppLayout from '@/Layouts/AppLayout'
import JetInputError from '@/Jetstream/InputError.vue'
import ErrorsAndMessages from "../Partials/ErrorsAndMessages"
import GetFreq from "../Partials/GetFreq";
import Clock from "../Partials/Clock"
import CallInput from "../Partials/CallInput";
import {DateTime} from "luxon";

export default {

    components: {
        AppLayout,
        JetInputError,
        ErrorsAndMessages,
        Clock,
        GetFreq,
        CallInput,
        DateTime,
    },

    props: ['new_rec', 'bands', 'modes', 'log', 'settings'],

    computed: {
        errors() {
            return this.$page.props.errors
        },
        callsigns() {

            if ( this.editMode ) {

                return []

            } else {

                var calls = []

                this.log.forEach(row => {

                    let i = calls.findIndex(item => item.name === row.rec_call)

                    if (i === -1) {
                        calls.push({
                            'name': row.rec_call,
                            'worked': [{'band_id': row.band_id, 'tour': row.contest.tour}],
                            'qth': row.rec_qth
                        })
                    } else {
                        calls[i].worked.push({'band_id': row.band_id, 'tour': row.contest.tour})
                    }

                })

                return calls
            }
        }
    },

    data() {

        return {

            editMode: false,

            locator: this.$page.props.settings.contest_settings.locator,
            need_num_refresh: this.$page.props.settings.contest_settings.need_num_refresh,
            rig_used: this.$page.props.settings.rig_used,

            tmpForm: Object,

            form: this.$inertia.form({
                id: null,
                type: this.$page.props.new_rec.type,
                time: null,
                band_id: this.$page.props.new_rec.band_id,
                mode_id: this.$page.props.new_rec.mode_id,
                rec_call: null,
                rec_qth: null,
                contest: {
                    rec_exchange: null,
                    my_exchange: this.$page.props.new_rec.my_exchange,
                    tour: this.$page.props.new_rec.tour,
                    data: {
                        freq: '0000000',
                    }
                },
            }),

            next: {
                'callsign' : 'exchange',
                'exchange' : 'qth',
                'qth' : 'callsign'
            },

        }

    },

    mounted: function () {

        this.focusTo('callsign')

    },

    methods: {

        calcNext(current ) {

            let qthFilled = this.locator ? !!this.form.rec_qth : true;

            if ( this.form.rec_call && this.form.contest.rec_exchange && qthFilled ) {
                this.store();
            } else {
                this.focusTo( this.next[current] )
            }

        },

        setLocator: function ( calls ) {
            let i = calls.findIndex(item => item.name === this.form.rec_call)
            if ( i >= 0 ) {
                this.form.rec_qth = calls[i].qth
            }
        },

        focusTo: function (ref) {

                this.$refs[ ref ].focus()

        },

        new_tour: function (tour) {

            if (this.editMode) {
                this.tmpForm.contest.tour = tour;
            } else {
                this.form.contest.tour = tour;
            }

        },

        new_freq: function (new_freq) {

            if (this.editMode) {
                this.tmpForm.contest.data.freq = new_freq;
            } else {
                this.form.contest.data.freq = new_freq;
            }

        },

        reset: function () {
            this.form.rec_call = '';
            this.form.contest.rec_exchange = '';
            this.form.rec_qth = '';
        },

        save: function () {

            this.$inertia.post(route('qso.store'), this.form, {
                onSuccess: () => {
                    this.form.contest.my_exchange = this.$page.props.new_rec.my_exchange;
                    this.reset();
                    this.focusTo('callsign')
                },
            });

        },

        change_band: function ( event ) {

            if ( ! this.need_num_refresh ) return;

            axios.get(route('get_num', event.target.value))
                .then(res => {
                    this.form.contest.my_exchange = res.data.num
                })

        },

        store: function () {
            if ( this.editMode ){
                this.update()
            } else {
                this.save()
            }
        },

        edit: function (row) {

            if (!this.editMode) {
                this.tmpForm = this.form;
                this.editMode = true;
            }
            this.form = Object.assign({}, row);

        },

        update: function () {

            this.$inertia.put(route('qso.update', this.form.id), this.form, {
                onSuccess: () => {
                    this.form = this.tmpForm;
                    this.form.contest.my_exchange = this.$page.props.new_rec.my_exchange;
                    this.form.contest.tour = this.$page.props.new_rec.tour;
                    this.form.band_id = this.$page.props.new_rec.band_id;
                    this.form.mode_id = this.$page.props.new_rec.mode_id;
                    this.editMode = false;
                }
            })

        },

        cancel: function () {

            this.form = this.tmpForm;
            this.editMode = false;

        },

        deleteRow: function (row) {

            if (!confirm('Are you sure want to remove?')) return;

            this.$inertia.delete(route('qso.destroy', row.id), row, {
                onSuccess: () => this.log.$remove(row)
            })

        },

        formatTime: function ( row_time ) {
            let myTime = DateTime.fromSQL( row_time, {zone: 'utc'} )
            return myTime.toFormat("dd.MM HH:mm")
        }

    }

}

</script>
