<template>

    <app-layout>

        <template #header>

            <h2 class="font-semibold text-xl text-gray-800 leading-tight">

                Manage QSO Log

            </h2>

        </template>

        <template #clock>
            <GetFreq @new_freq="new_freq" :api_urls="this.settings.rig_apis" v-if="rig_used" />
        </template>

        <div class="py-12">

            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">

                <div class="min-w-full bg-white overflow-hidden shadow-xl sm:rounded-lg px-4 py-4">

                    <div class="mb-4">
                        <form>


                            <div class="inline-block w-36 px-2">
                                <select id="location" v-model="form.band_id"
                                        class="relative mt-1 block pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                    <option v-for="band in bands" v-bind:value="String(band.id)">
                                        {{ band.title }}
                                    </option>
                                </select>
                            </div>

                            <div class="inline-block w-36 px-2">
                                <select id="location" v-model="form.mode_id"
                                        class="relative mt-1 block pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                    <option v-for="mode in modes" v-bind:value="String(mode.id)">
                                        {{ mode.title }}
                                    </option>
                                </select>
                            </div>

                            <div class="inline-block w-32 px-2">
                                <div
                                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
                                    <label for="my_name_input"
                                           class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900"
                                    >MyName</label>
                                    <input type="text" v-model.trim="form.log.my_name"
                                           id="my_name_input"
                                           class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                                           ref="my_name"
                                           placeholder=""
                                           @keyup.enter="calcNext('my_name')"
                                    />

                                </div>
                            </div>

                            <div class="inline-block w-20 px-2">
                                <div
                                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
                                    <label for="my_rep_input"
                                           class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900"
                                    >MyRep</label>
                                    <input type="text" v-model.trim="form.my_rep"
                                           id="my_rep_input"
                                           class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                                           ref="my_rep"
                                           placeholder=""
                                           @keyup.enter="calcNext('my_rep')"
                                    />

                                </div>
                            </div>


                            <call-input
                                v-model="form.rec_call"
                                @keyup.enter="calcNext('callsign')"
                                @focusout="setLocator( callsigns )"
                                :calls="callsigns"
                                :band_id="form.band_id"
                                :tour="1"
                                :error_message="errors.rec_call"
                                ref="callsign"
                            />

                            <div class="inline-block w-20 px-2">
                                <div
                                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
                                    <label for="rec_rep_input"
                                           class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900"
                                    >RecRep</label>
                                    <input type="text" v-model.trim="form.rec_rep"
                                           id="rec_rep_input"
                                           class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                                           ref="rec_rep"
                                           placeholder=""
                                           @keyup.enter="calcNext('rec_rep')"
                                    />

                                </div>
                            </div>

                            <div class="inline-block w-32 px-2">
                                <div
                                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
                                    <label for="rec_name_input"
                                           class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900"
                                    >RecName</label>
                                    <input type="text" v-model.trim="form.log.rec_name"
                                           id="rec_name_input"
                                           class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                                           ref="rec_name"
                                           placeholder=""
                                           @keyup.enter="calcNext('rec_name')"
                                    />

                                </div>
                            </div>

                            <div class="inline-block w-32 px-2">
                                <div
                                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
                                    <label for="rec_loc_input"
                                           class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900"
                                    >RecLocation</label>
                                    <input type="text" v-model.trim="form.log.rec_loc_place"
                                           id="rec_loc_input"
                                           class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                                           ref="rec_loc_place"
                                           placeholder=""
                                           @keyup.enter="calcNext('rec_loc_place')"
                                    />

                                </div>
                            </div>

                            <div class="inline-block w-32 px-2" v-show="editMode" >
                                <div
                                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
                                    <label for="time_input"
                                           class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">Time</label>
                                    <input type="text" v-model="form.time" id="time_input"
                                           class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                                           placeholder=""/>
                                    <jet-input-error :message="errors.time" class="mt-2"/>
                                </div>
                            </div>

                            <div class="inline-block px-2">
                                <button type="button"
                                        class="inline-block justify-center w-24 rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5"
                                        v-show="!editMode"
                                        ref="save"
                                        @click="store()">
                                    Save
                                </button>
                                <button type="button"
                                        class="inline-block justify-center w-24 rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5"
                                        v-show="editMode" @click="store()">
                                    Update
                                </button>
                                <button type="button"
                                        class="inline-block justify-center w-24 rounded-md border border-transparent px-4 py-2 bg-gray-500 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5"
                                        v-show="editMode" @click="cancel()">
                                    Cancel
                                </button>
                            </div>

                        </form>
                    </div>


                    <errors-and-messages/>

                    <!--div class="bg-white shadow-xl sm:rounded-lg px-4 py-4"-->

                    <table class="table-fixed w-full">

                        <thead>

                        <tr class="bg-gray-100">

                            <th class="px-4 py-2 w-16">Band</th>

                            <th class="px-4 py-2 w-16">Mode</th>

                            <th class="px-4 py-2 w-24">Time</th>

                            <th class="px-4 py-2 w-20">MyName</th>

                            <th class="px-4 py-2 w-16">MyRep</th>

                            <th class="px-4 py-2">Call</th>

                            <th class="px-4 py-2 w-16">RecRep</th>

                            <th class="px-4 py-2 w-20">RecName</th>

                            <th class="px-4 py-2">RecLocation</th>

                            <th class="px-4 py-2">Action</th>

                        </tr>

                        </thead>

                        <tbody>

                        <tr v-for="row in log">

                            <th class="px-4 py-2 w-16">{{ row.band_id }}</th>

                            <th class="px-4 py-2 w-16">{{ row.mode_id }}</th>

                            <th class="px-4 py-2 w-24"><span v-html=" '<nobr>' + formatTime(row.time) + '</nobr>' "></span></th>

                            <th class="px-4 py-2 w-20">{{ row.log.my_name }}</th>

                            <th class="px-4 py-2 w-16">{{ row.my_rep }}</th>

                            <th class="px-4 py-2">{{ row.rec_call }}</th>

                            <th class="px-4 py-2 w-16">{{ row.rec_rep }}</th>

                            <th class="px-4 py-2 w-20">{{ row.log.rec_name }}</th>

                            <th class="px-4 py-2">{{ row.log.rec_loc_place }}</th>

                            <td class="border px-4 py-2">

                                <button @click="edit(row)"
                                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                    Edit
                                </button>

                                <button @click="deleteRow(row)"
                                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                                    Delete
                                </button>

                            </td>

                        </tr>

                        </tbody>

                    </table>


                    <!--/div-->

                </div>

            </div>

        </div>

    </app-layout>

</template>

<script>

import AppLayout from '@/Layouts/AppLayout'
import JetInputError from '@/Jetstream/InputError.vue'
import ErrorsAndMessages from "../Partials/ErrorsAndMessages"
import GetFreq from "../Partials/GetFreq";
import Clock from "../Partials/Clock"
import CallInput from "../Partials/CallInput";
import {DateTime} from "luxon";

export default {

    components: {
        AppLayout,
        JetInputError,
        ErrorsAndMessages,
        CallInput,
        DateTime,
    },

    props: ['new_rec', 'bands', 'modes', 'log', 'settings'],

    computed: {
        errors() {
            return this.$page.props.errors
        },
        callsigns() {

            if ( this.editMode ) {

                return []

            } else {

                var calls = []

                this.log.forEach(row => {

                    let i = calls.findIndex(item => item.name === row.rec_call)

                    if (i === -1) {
                        calls.push({
                            'name': row.rec_call,
                            'worked': [],
                            'qth': '',
                        })
                    }

                })

                return calls
            }
        }
    },

    data() {

        return {

            editMode: false,

            rig_used: this.$page.props.settings.rig_used,

            tmpForm: Object,

            form: this.$inertia.form({
                id: null,
                type: this.new_rec.type,
                time: null,
                band_id: this.new_rec.band_id,
                mode_id: this.new_rec.mode_id,
                rec_call: null,
                my_rep: this.new_rec.my_rep,
                rec_rep: null,
                log: {
                    'my_name': this.new_rec.log.my_name,
                    'rec_name': null,
                    'rec_loc_place': null,
                }
            }),

            next: {
                'my_name' : 'my_rep',
                'my_rep' : 'callsign',
                'callsign' : 'rec_rep',
                'rec_rep' : 'rec_name',
                'rec_name' : 'rec_loc_place',
                'rec_loc_place' : 'my_name',
            },

        }

    },

    mounted: function () {

        this.focusTo('callsign')

    },

    methods: {

        calcNext( current ) {

            if ( this.form.rec_call &&
                this.form.log.my_name &&
                this.form.my_rep &&
                this.form.rec_rep &&
                this.form.log.rec_name &&
                this.form.log.rec_loc_place
            ){
                this.store();
            } else {
                this.focusTo( this.next[current] )
            }

        },

        focusTo: function (ref) {

                this.$refs[ ref ].focus()

        },

        reset: function () {
            this.form.rec_call = '';
            this.form.rec_rep = '';
            this.form.log.rec_name = '';
            this.form.log.rec_loc_place = '';
        },

        save: function () {

            this.$inertia.post(route('qso.store'), this.form, {
                onSuccess: () => {
                    this.reset();
                    this.focusTo('callsign')
                },
            });

        },

        store: function () {
            if ( this.editMode ){
                this.update()
            } else {
                this.save()
            }
        },

        edit: function (row) {

            if (!this.editMode) {
                this.tmpForm = this.form;
                this.editMode = true;
            }
            this.form = Object.assign({}, row);

        },

        update: function () {

            this.$inertia.put(route('qso.update', this.form.id), this.form, {
                onSuccess: () => {
                    this.form = this.tmpForm;
                    this.editMode = false;
                }
            })

        },

        cancel: function () {

            this.form = this.tmpForm;
            this.editMode = false;

        },

        deleteRow: function (row) {

            if (!confirm('Are you sure want to remove?')) return;

            this.$inertia.delete(route('qso.destroy', row.id), row, {
                onSuccess: () => this.log.$remove(row)
            })

        },

        formatTime: function ( row_time ) {
            let myTime = DateTime.fromSQL( row_time, {zone: 'utc'} )
            return myTime.toFormat("dd.MM HH:mm")
        }

    }

}

</script>
