<template>
    <div class="inline-block px-2 w-32">
        <div class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
            <label class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">Callsign</label>
            <input
                v-model="callsign"
                class="block w-full border border-0 p-0 text-gray-900 focus:outline-none focus:shadow-outline sm:text-sm"
                autocomplete="off"
                placeholder=""
                ref="callsign_input"
                @keyup.down.prevent="keyDown"
                @keyup.up.prevent="keyUp"
                @keyup.enter.prevent="selectItem"
                @keyup.esc.prevent="showOptions = false"
                @input="changeInput"
            />
        </div>
        <div
            v-show="resultQuery.length && showOptions"
            class="absolute w-32 z-50 bg-white border border-gray-300 mt-1 max-h-48 overflow-hidden overflow-y-scroll rounded-md shadow-md"
        >
            <ul class="py-1">
                <li
                    v-for="row in resultQuery"
                    :class="[calcClass(row),'px-3 py-0 cursor-pointer']"
                    @mouseover="mouseOver(row.name)"
                    @click="selectItem"
                >
                    {{ row.name }}
                </li>
            </ul>
        </div>
    </div>

</template>

<script>

// https://dev.to/jringeisen/building-a-custom-select-input-with-tailwind-and-vue-2dn1

export default {

    name: 'CallInput',

    props: [ 'modelValue', 'calls', 'band_id', 'tour', 'error_message', 'ref' ],

    emits: ['update:modelValue', 'nextFocus'],

    data() {
        return {
            showOptions: false,
            selected: false,
            selectedRowName: null,
            selectedRowIndex: -1,
            resultQueryLength: null,
        };
    },


    computed: {

        callsign: {
          get() {
              return this.modelValue
          },
          set( value ) {
              this.$emit('update:modelValue', value)
          }
        },

        resultQuery() {
            let ret = []
            if (this.callsign) {
                ret = this.calls.filter((item) => {
                    return this.callsign
                        .toLowerCase()
                        .split(" ")
                        .every((v) => item.name.toLowerCase().includes(v));
                });
            }
            if ( this.resultQueryLength !== ret.length){
                this.selectedRowName = null
                this.selectedRowIndex = -1
            }
            if ( ret.length > 0 && ! this.selected ) {
                this.showOptions = true
            }
            return ret
        }
    },

    methods: {

        focus() {
            this.$refs['callsign_input'].focus()
        },

        changeInput() {
            this.selected = false
        },

        selectItem() {
            if( this.selectedRowName !== null ){
                this.callsign = this.selectedRowName
            }
            this.showOptions = false
            this.selected = true
            this.selectedRowName = null
            this.selectedRowIndex = -1
            this.$emit('nextFocus')
        },

        anyKeyUp() {
            if (! this.selected) {
                this.showOptions = true
            }
        },

        keyDown() {
            this.selected = false
            if( this.selectedRowIndex + 1 >= this.resultQuery.length  ){
                this.selectedRowIndex--
            }
            this.selectedRowName = this.resultQuery[ ++this.selectedRowIndex ].name
        },

        keyUp() {
            this.selected = false
            if( this.selectedRowIndex - 1 <= 0  ){
                this.selectedRowIndex = 1
            }
            this.selectedRowName = this.resultQuery[ --this.selectedRowIndex ].name
        },

        mouseOver( rowName ) {
            this.selectedRowIndex = this.resultQuery.findIndex((rec) => {
                return rec.name === rowName
            })
            this.selectedRowName = rowName
        },

        calcClass( row ) {
            let isWorked = row.worked.findIndex((rec) => {
                return rec.band_id === this.band_id && rec.tour === this.tour
            })

            if ( this.selectedRowName === row.name ) {
                if (isWorked === -1) {
                    return 'bg-gray-300'
                } else {
                    return 'bg-red-500'
                }
            } else if (isWorked !== -1) {
                return 'bg-red-300'
            }
        },

    }
};
</script>

<style scoped>

</style>
