<template>
    <div id="clock">
        <p class="time text-xl">{{ time.toFormat('HH:mm:ss') }}</p>
    </div>
</template>

<script>

import { DateTime, Duration, Interval } from 'luxon'

export default {
    name: "Clock",

    components: {
        DateTime,
        Duration,
        Interval,
    },

    props: ['contest_settings', 'server_time'],

    data() {
        return {
            interval: null,
            tours: [],
            tour: 1,
            time: null
        }
    },

    beforeDestroy() {
        // prevent memory leak
        clearInterval(this.interval)
    },

    created() {

        this.set_tours();
        this.time = DateTime.fromISO( this.server_time, {zone: 'utc'} );

        // update the time every second
        this.interval = setInterval(() => {

            this.tours.forEach( ( interval, i, arr) => {
                let tour = i + 1;
                if ( interval.contains( this.time ) && this.tour !== tour ) {
                    this.$emit( "new_tour", tour);
                    this.tour = tour;
                }
            });

            this.time = this.time.plus(1000);

        }, 1000)

    },

    methods: {

        set_tours: function() {
            let start = DateTime.fromISO( this.contest_settings.start , {zone: 'utc'} );
            let begin = start;
            let tourDuration = Duration.fromISOTime( this.contest_settings.duration );
            let end = null;
            for (let i = 0; i < this.contest_settings.tours; i++) {
                end = begin.plus( tourDuration );
                this.tours.push( Interval.fromDateTimes( begin, end ) );
                begin = end;
            }
        },

    }

}
</script>

<style scoped>

</style>
