<template>
    <div class="py-1" v-if="hasErrors">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                <div class="rounded-md bg-yellow-50 p-4">
                    <div class="flex">
                        <div class="flex-shrink-0">
                            <ExclamationIcon class="h-5 w-5 text-yellow-800" aria-hidden="true"/>
                        </div>
                        <div class="ml-3">
                            <h3 class="text-sm font-medium text-red-700" v-if="flash_error">
                                {{flash_error}}
                            </h3>
                            <ul class="text-sm font-medium text-yellow-800">
                                <li v-for="(error, key) in errors" :key="key">{{error}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="py-1" v-if="message">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                <div class="rounded-md bg-green-50 p-4">
                    <div class="flex">
                        <div class="flex-shrink-0">
                            <InformationCircleIcon class="h-5 w-5 text-green-600" aria-hidden="true"/>
                        </div>
                        <div class="ml-3">
                            <h3 class="text-sm font-medium text-green-600">
                                {{message}}
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</template>

<script>
import { defineComponent } from 'vue'
import { ExclamationIcon } from '@heroicons/vue/solid'
import { InformationCircleIcon } from '@heroicons/vue/solid'

export default defineComponent({

    components: {
        ExclamationIcon,
        InformationCircleIcon
    },
    computed: {
        message() {
            return this.$page.props.jetstream.flash?.message || ''
        },
        flash_error() {
            return this.$page.props.jetstream.flash?.error || ''
        },
        errors() {
            return this.$page.props.errors
        },
        hasErrors() {
            return Object.keys(this.errors).length > 0 || this.flash_error;
        },
    }
})
</script>
