<template>
        <select v-model="selected"
                @change="change"
                class="mt-1 w-40 ml-2 mr-2 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"
                :class="{'text-red-600':selected==='none'}"
        >
            <option value="none">RIG Off</option>
            <option value="0" v-if="this.api_urls[0]!=null">Club {{freq[0]}}</option>
            <option value="1" v-if="this.api_urls[1]!=null">SUT {{freq[1]}}</option>
        </select>
</template>

<script>

import {defineComponent} from "vue";
import VueCookies from "vue-cookies";

export default defineComponent({

    components: {
      VueCookies
    },

    name: "GetFreq",

    props: [ 'api_urls' ],

    emits: ['new_freq'],

    data() {
        return {
            interval: null,
            selected: window.$cookies.get('rig_selected') != null ? window.$cookies.get('rig_selected') : 0,
            api_url: null,
            new_freq: '0000000',
            freq: ['',''],
        }
    },

    beforeUnmount() {
        // prevent memory leak
        clearInterval(this.interval)
    },

    created() {
        this.change()
    },

    methods: {

        change: function () {

            if ( this.interval ) { clearInterval(this.interval) }

            window.$cookies.set('rig_selected', this.selected, "365d");

            if ( this.selected == 'none') {

                this.freq = ['','']

            } else {

                this.api_url = this.api_urls[this.selected]
                console.log(this.api_url);

                // update the freq every second
                this.interval = setInterval(() => {
                    console.log('get freq');
                    axios.get(this.api_url)
                        .then((response) => {
                            this.new_freq = response.data.data;
                        })
                        .catch((error) => {
                            console.log(error);
                            this.new_freq = 9999999;
                        })
                        .finally(() => {
                            if (this.freq[this.selected] !== this.new_freq) {
                                this.$emit("new_freq", this.new_freq);
                                this.freq[this.selected] = this.new_freq;
                            }
                        });

                }, 1000)

            }


        }

    },
})
</script>

<style scoped>

</style>
