<template>

    <app-layout>

        <template #header>

            <h2 class="font-semibold text-xl text-gray-800 leading-tight">

                Manage Contests

            </h2>

        </template>

        <div class="py-12">

            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">

                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg px-4 py-4">

                    <errors-and-messages />

                    <button @click="openContestModal()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-3">Create New Contest</button>

                    <button @click="goto(route('export'))" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded my-3 ml-3">Export current</button>

                    <button @click="openImportModal" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded my-3 ml-3">Import</button>

                    <table class="table-fixed w-full">

                        <thead>

                            <tr class="bg-gray-100">

                                <th class="px-4 py-2 w-20">ID</th>

                                <th class="px-4 py-2">Title</th>

                                <th class="px-4 py-2">Action</th>

                            </tr>

                        </thead>

                        <tbody>

                            <tr v-for="row in contests">

                                <td class="border px-4 py-2">{{ row.id }}</td>

                                <td class="border px-4 py-2">{{ row.name }}</td>

                                <td class="border px-4 py-2">

                                    <button @click="edit(row)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Edit</button>

                                    <button @click="deleteRow(row)" v-if="!row.used" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Delete</button>

                                </td>

                            </tr>

                        </tbody>

                    </table>

                    <div class="fixed z-10 inset-0 overflow-y-auto ease-out duration-400" v-if="isContestOpen">

                      <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">



                        <div class="fixed inset-0 transition-opacity">

                          <div class="absolute inset-0 bg-gray-500 opacity-75"></div>

                        </div>

                        <!-- This element is to trick the browser into centering the modal contents. -->

                        <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>​

                        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">

                          <form>

                          <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">

                            <div class="">

                                  <input type="hidden"  v-model="form.id" v-if="form.id">

                                  <div class="mb-4">

                                      <label for="exampleFormControlInput1" class="block text-gray-700 text-sm font-bold mb-2">Title:</label>

                                      <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="exampleFormControlInput1" placeholder="Enter Title" v-model="form.name">

                                      <jet-input-error :message="errors.name" class="mt-2" />

                                  </div>

                                <div class="mb-4">
                                    <label for="contest" class="block text-gray-700 text-sm font-bold mb-2">Contest Type:</label>
                                    <select id="contest" v-model="form.contest_type_id"
                                            class="relative mt-1 block pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                        <option v-for="contest_type in contest_types" v-bind:value="String(contest_type.id)">
                                            {{ contest_type.id }} {{ contest_type.title }}
                                        </option>
                                    </select>
                                    <jet-input-error :message="errors.contest_type_id" class="mt-2" />
                                </div>

                                <div class="mb-4">

                                    <label for="exampleFormControlInput2" class="block text-gray-700 text-sm font-bold mb-2">Start Date and time (UTC):</label>

                                    <input type="datetime-local" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="exampleFormControlInput2" placeholder="Date" v-model="form.start">

                                    <jet-input-error :message="errors.start" class="mt-2" />

                                </div>

                                <div class="mb-4">

                                    <label for="exampleFormControlInput3" class="block text-gray-700 text-sm font-bold mb-2">Number of tours:</label>

                                    <input type="number" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="exampleFormControlInput3" placeholder="Number" v-model="form.data.tour_count">

                                    <jet-input-error :message="errors.data?.tour_count" class="mt-2" />

                                </div>

                                <div class="mb-4">

                                    <label for="exampleFormControlInput4" class="block text-gray-700 text-sm font-bold mb-2">Tour duration (minutes):</label>

                                    <input type="number" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="exampleFormControlInput4" placeholder="Minutes" v-model="form.data.tour_duration">

                                    <jet-input-error :message="errors.data?.tour_duration" class="mt-2" />

                                </div>


                                  <div class="mb-4">

                                      <fieldset class="space-y-5">
                                          <div class="relative flex items-start">
                                              <div class="flex items-center h-5">
                                                  <input v-model="form.locator" id="locator" aria-describedby="locator-description" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                                              </div>
                                              <div class="ml-3 text-sm">
                                                  <label for="locator" class="font-medium text-gray-700">QTH locator</label>
                                                  <span id="locator-description" class="text-gray-500"><span class="sr-only">Use QTH locator</span> for contest logging.</span>
                                              </div>
                                          </div>
                                      </fieldset>

                                  </div>

                                <div class="mb-4">

                                    <fieldset class="space-y-5">
                                        <div class="relative flex items-start">
                                            <div class="flex items-center h-5">
                                                <input v-model="form.network" id="network" aria-describedby="network-description" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                                            </div>
                                            <div class="ml-3 text-sm">
                                                <label for="network" class="font-medium text-gray-700">Network</label>
                                                <span id="network-description" class="text-gray-500"><span class="sr-only">Multi OPs</span> from network places.</span>
                                            </div>
                                        </div>
                                    </fieldset>

                                </div>

                            </div>

                          </div>

                          <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">

                            <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">

                              <button type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5" v-show="!editMode" @click="save(form)">

                                Save

                              </button>

                            </span>

                            <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">

                              <button type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5" v-show="editMode" @click="update(form)">

                                Update

                              </button>

                            </span>

                            <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">



                              <button @click="closeContestModal()" type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5">

                                Cancel

                              </button>

                            </span>

                          </div>

                          </form>



                        </div>

                      </div>

                    </div>

                    <div class="fixed z-10 inset-0 overflow-y-auto ease-out duration-400" v-if="isImportOpen">

                        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">

                            <div class="fixed inset-0 transition-opacity">

                                <div class="absolute inset-0 bg-gray-500 opacity-75"></div>

                            </div>

                            <!-- This element is to trick the browser into centering the modal contents. -->

                            <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>​

                            <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">

                                <form>

                                    <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">

                                        <div class="">

                                            <div class="mb-4">

                                                <label for="exampleFormControlInput11" class="block text-gray-700 text-sm font-bold mb-2">File:</label>

                                                <input type="file"
                                                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="exampleFormControlInput11"
                                                       @input="formImport.import_file = $event.target.files[0]">

                                                <jet-input-error :message="errors.import_file" class="mt-2" />

                                            </div>

                                            <div class="mb-4">

                                                <fieldset class="space-y-5">
                                                    <div class="relative flex items-start">
                                                        <div class="flex items-center h-5">
                                                            <input v-model="formImport.new_contest" id="new_contest" aria-describedby="new_contest-description" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                                                        </div>
                                                        <div class="ml-3 text-sm">
                                                            <label for="new_contest" class="font-medium text-gray-700">Create new contest</label>
                                                            <span id="new_contest-description" class="text-gray-500"><span class="sr-only">Create new contest</span> for this import.</span>
                                                        </div>
                                                    </div>
                                                </fieldset>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">

                            <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">

                              <button type="button"
                                      class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5"
                                      @click="importContest(formImport)">

                                Import

                              </button>

                            </span>

                            <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">

                              <button @click="closeImportModal()" type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5">

                                Cancel

                              </button>

                            </span>

                                    </div>

                                </form>



                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </app-layout>

</template>

<script>

    import AppLayout from '@/Layouts/AppLayout'
    import JetInputError from '@/Jetstream/InputError.vue'
    import ErrorsAndMessages from "../../Partials/ErrorsAndMessages";

    export default {

        components: {
            ErrorsAndMessages,
            AppLayout,
            JetInputError,
        },

        props: ['contests', 'contest_types'],

        computed: {
            errors() {
                return this.$page.props.errors
            },
        },

        data() {

            return {

                editMode: false,
                isContestOpen: false,
                isImportOpen: false,


                form: {
                    id: null,
                    title: null,
                    network: null,
                    locator: null,
                    start: null,
                    contest_type_id: null,
                    data: {
                        tour_count: null,
                        tour_duration: null,
                    },
                    used: null
                },

                formImport: {
                    new_contest: true,
                    import_file: null,
                },

            }

        },

        methods: {

            openContestModal: function () {

                this.isContestOpen = true;

            },

            closeContestModal: function () {

                this.isContestOpen = false;
                this.reset();
                this.editMode=false;

            },

            openImportModal: function () {

                this.isImportOpen = true;

            },

            closeImportModal: function () {

                this.isImportOpen = false;

            },

            reset: function () {

                this.form = {
                    id: null,
                    name: null,
                    locator: null,
                    network: null,
                    date: null,
                    contest_type_id: null,
                    data: {
                        tour_count: null,
                        tour_duration: null,
                    },
                    used: null,
                }

                this.$page.props.errors = {}

            },

            edit: function (data) {
                this.form = Object.assign({}, data);
                this.editMode = true;
                this.openContestModal();

            },


            save: function (data) {

                this.$inertia.post( route('contest.store'), data, {
                    onSuccess: () => {
                        this.closeContestModal();
                    }
                })

            },

            update: function (data) {

                this.$inertia.put( route('contest.update', data.id ), data, {
                    onSuccess: () => {
                        this.closeContestModal();
                    }
                })

            },

            importContest: function (data) {

                this.$inertia.post( route('import'), data, {
                    forceFormData: true,
                    onSuccess: () => {
                        this.closeImportModal();
                    }
                })

            },

            deleteRow: function (data) {

                if (!confirm('Are you sure want to remove?')) return;

                this.$inertia.delete(route('contest.destroy', data.id), data, {
                    onSuccess: () => {
                        this.closeContestModal();
                    }
                })


            },

            goto: function ( url ) {
                window.location.href = url
            }

        }

    }

</script>
