<template>

    <app-layout>

        <template #header>

            <h2 class="font-semibold text-xl text-gray-800 leading-tight">

                Manage Log Settings

            </h2>

        </template>

        <div class="py-12">

            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">

                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg px-4 py-4">

                    <errors-and-messages />

                    <div class="mt-4">
                        <SwitchGroup as="div" class="flex items-center">
                            <Switch v-model="contestMode" :class="[contestMode ? 'bg-indigo-600' : 'bg-gray-200', 'relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500']">
                                <span aria-hidden="true" :class="[contestMode ? 'translate-x-5' : 'translate-x-0', 'pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200']" />
                            </Switch>
                            <SwitchLabel as="span" class="ml-3">
                                <span class="text-sm font-medium text-gray-900">Contest mode</span>
                            </SwitchLabel>
                        </SwitchGroup>
                    </div>

                    <div class="mt-4" v-if="contestMode">
                        <label for="contest_id" class="block text-sm font-medium text-gray-700">Contest</label>
                        <select id="contest_id" v-model="form.contest_id"
                                class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                            <option v-for="contest in contests" v-bind:value="String(contest.id)">
                                {{ contest.name }} {{ contest.start }}
                            </option>
                        </select>
                    </div>

                    <div class="mt-4">
                            <SwitchGroup as="div" class="flex items-center">
                                <Switch v-model="form.rig_used" :class="[form.rig_used ? 'bg-indigo-600' : 'bg-gray-200', 'relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500']">
                                    <span aria-hidden="true" :class="[form.rig_used ? 'translate-x-5' : 'translate-x-0', 'pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200']" />
                                </Switch>
                                <SwitchLabel as="span" class="ml-3">
                                    <span class="text-sm font-medium text-gray-900">Use RIG interface </span>
                                    <span class="text-sm text-gray-500">(API URL see below)</span>
                                </SwitchLabel>
                            </SwitchGroup>
                    </div>

                    <div class="mt-4">
                        <jet-label for="rig_api1" value="RIG API URL #1" />
                        <jet-input id="rig_api1" type="text" class="mt-1 block w-full" v-model="form.rig_apis[0]" />
                    </div>

                    <div class="mt-4">
                        <jet-label for="rig_api2" value="RIG API URL #2" />
                        <jet-input id="rig_api2" type="text" class="mt-1 block w-full" v-model="form.rig_apis[1]" />
                    </div>

                    <div class="mt-4">
                        <jet-label for="qth" value="My QTH" />
                        <jet-input id="qth" type="text" class="mt-1 block w-full" v-model="form.qth" />
                    </div>

                    <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">

                            <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">

                              <button type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5" @click="save()">

                                Save

                              </button>

                            </span>

                    </div>

                </div>

            </div>

        </div>


    </app-layout>

</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import ErrorsAndMessages from "../../Partials/ErrorsAndMessages";
import JetInput from '@/Jetstream/Input.vue';
import JetLabel from '@/Jetstream/Label.vue';
import { ref } from "vue";
import { Switch, SwitchGroup, SwitchLabel } from '@headlessui/vue'


export default {
    name: "LogSettings",

    components: {ErrorsAndMessages, AppLayout, JetInput, JetLabel, Switch, SwitchLabel, SwitchGroup},

    props: ['settings', 'contests'],


    data() {
        return {
            contestMode: (this.settings.mode === 'contest'),
            form: this.$inertia.form({
                contest_id: this.settings.contest_id,
                qth: this.settings.qth,
                rig_apis: [
                    this.settings.rig_apis[0],
                    this.settings.rig_apis[1]
                    ],
                rig_used: ref( this.settings.rig_used ),
            })
        }
    },

    methods: {

        save: function () {

            this.form
                .transform((data) => ({
                    ...data,
                    mode: this.contestMode ? 'contest' : 'log'
                }))
                .post( route('log_settings.store'), this.form, {
                onSuccess: () => {
                }
            })

        },

    }

}
</script>

<style scoped>

</style>
