<template>

    <app-layout>

        <template #header>

            <h2 class="font-semibold text-xl text-gray-800 leading-tight">

                Manage Modes

            </h2>

        </template>

        <div class="py-12">

            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">

                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg px-4 py-4">

                    <errors-and-messages />

                    <button @click="openModal()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-3">Create New Mode</button>

                    <table class="table-fixed w-full">

                        <thead>

                            <tr class="bg-gray-100">

                                <th class="px-4 py-2 w-20">ID</th>

                                <th class="px-4 py-2">Title</th>

                                <th class="px-4 py-2">Order</th>

                                <th class="px-4 py-2">Action</th>

                            </tr>

                        </thead>

                        <tbody>

                            <tr v-for="row in data">

                                <td class="border px-4 py-2">{{ row.id }}</td>

                                <td class="border px-4 py-2">{{ row.title }}</td>

                                <td class="border px-4 py-2">{{ row.order }}</td>

                                <td class="border px-4 py-2">

                                    <button @click="edit(row)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Edit</button>

                                    <button @click="deleteRow(row)" v-if="!row.used" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Delete</button>

                                </td>

                            </tr>

                        </tbody>

                    </table>

                    <div class="fixed z-10 inset-0 overflow-y-auto ease-out duration-400" v-if="isOpen">

                      <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">



                        <div class="fixed inset-0 transition-opacity">

                          <div class="absolute inset-0 bg-gray-500 opacity-75"></div>

                        </div>

                        <!-- This element is to trick the browser into centering the modal contents. -->

                        <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>​

                        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">

                          <form>

                          <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">

                            <div class="">

                                  <div class="mb-4" v-if="!form.used">

                                      <label for="exampleFormControlInput0" class="block text-gray-700 text-sm font-bold mb-2">ID Code:</label>

                                      <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="exampleFormControlInput0" placeholder="Enter ID code (3 char max)" v-model="form.id">

                                      <jet-input-error :message="errors.id" class="mt-2" />

                                  </div>

                                  <input type="hidden"  v-model="form.id" v-if="form.used">

                                  <div class="mb-4">

                                      <label for="exampleFormControlInput1" class="block text-gray-700 text-sm font-bold mb-2">Title:</label>

                                      <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="exampleFormControlInput1" placeholder="Enter Title" v-model="form.title">

                                      <jet-input-error :message="errors.title" class="mt-2" />

                                  </div>

                                  <div class="mb-4">

                                      <label for="exampleFormControlInput2" class="block text-gray-700 text-sm font-bold mb-2">Order:</label>

                                      <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="exampleFormControlInput2" placeholder="Enter Order" v-model="form.order">

                                      <jet-input-error :message="errors.order" class="mt-2" />

                                  </div>

                            </div>

                          </div>

                          <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">

                            <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">

                              <button type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5" v-show="!editMode" @click="save(form)">

                                Save

                              </button>

                            </span>

                            <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">

                              <button type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5" v-show="editMode" @click="update(form)">

                                Update

                              </button>

                            </span>

                            <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">



                              <button @click="closeModal()" type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5">

                                Cancel

                              </button>

                            </span>

                          </div>

                          </form>



                        </div>

                      </div>

                    </div>

                </div>

            </div>

        </div>

    </app-layout>

</template>

<script>

    import AppLayout from '@/Layouts/AppLayout'
    import JetInputError from '@/Jetstream/InputError.vue'
    import ErrorsAndMessages from "../../Partials/ErrorsAndMessages";

    export default {

        components: {
            ErrorsAndMessages,
            AppLayout,
            JetInputError
        },

        props: ['data'],

        computed: {
            errors() {
                return this.$page.props.errors
            },
        },

        data() {

            return {

                editMode: false,
                isOpen: false,

                form: {
                    id: null,
                    title: null,
                    order: null,
                    used: null
                },

            }

        },

        methods: {

            openModal: function () {

                this.isOpen = true;

            },

            closeModal: function () {

                this.isOpen = false;
                this.reset();
                this.editMode=false;

            },

            reset: function () {

                this.form = {
                    id: null,
                    title: null,
                    order: null,
                }
                this.$page.props.errors = {}

            },

            edit: function (data) {

                this.form = Object.assign({}, data);
                this.editMode = true;
                this.openModal();

            },


            save: function (data) {

                this.$inertia.post( route('mode.store'), data, {
                    onSuccess: () => {
                        this.closeModal();
                    }
                })

            },

            update: function (data) {

                this.$inertia.put( route('mode.update', data.id ), data, {
                    onSuccess: () => {
                        this.closeModal();
                    }
                })

            },

            deleteRow: function (data) {

                if (!confirm('Are you sure want to remove?')) return;

                this.$inertia.delete(route('mode.destroy', data.id), data, {
                    onSuccess: () => {
//                        this.log.$remove(row)
                        this.closeModal();
                    }
                })


            }

        }

    }

</script>
